html
	head
		title Report
		script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js")
		
	body
		canvas(id="myChart" width="600" height="500")

		script. 
			window.onload = function() {
			var edu="#{num_edu}", inno="#{num_inno}", ins="#{num_ins}", team="#{num_team}", ty="#{num_ty}";
			var ctx = document.getElementById("myChart").getContext('2d');
			   var chart = new Chart(ctx,  {
					type: 'bar',
					data: {
						labels: ["Educational", "Innovative", "Inspiring", "Teamwork", "Thank you"],
						datasets: [{
							label: 'Number of Awards',
							backgroundColor: 'rgba(255,99,132,0.2)',
							borderColor: 'rgba(255,99,132,1)',
							borderWidth: 2,
							hoverBackgroundColor: 'rgba(255,99,132,0.6)',
							hoverBorderColor: 'rgba(255,99,132,1)',
							data: [edu, inno, ins, team, ty],
						}],
					},
					options: {
						responsive: false,
						title: { 
							display: true,
							text: "Types of Awards Created",
						},
						legend: {
							position: 'bottom'
						},
						scales: {
							yAxes: [{
								ticks:  {
									beginAtZero: true
								}
							}],
							xAxes: [{
								gridLines: {
									display: false
								}
							}]
						},
					}
				});
			};